{% extends 'base.html' %}

{% block title %}Agregar Venta{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Agregar Nueva Venta</h1>
    
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    
</div>
{% endblock %}
