/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px; /* Ancho máximo para los contenidos */
    margin: 0 auto; /* Centrar el contenido */
    padding: 0 15px; /* Espacio alrededor del contenido */
}

/* Estilos para la barra de navegación */
.navbar {
    padding: 1rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto; /* Alinear a la derecha */
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #333; /* Color de texto */
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff; /* Color activo */
}

/* Estilos para el botón de Cerrar sesión */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Estilo para el footer */
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

.welcome-message {
    font-size: 18px;
    margin-bottom: 10px;
}